# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
ENV/
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.idea/

# Data (opcional, se não quiser versionar dados locais)
# data/*.json
